{% extends "base.html" %}

{% block page_title %}Password reset{% endblock page_title %}

{% block reset_password %}
<h1>Password reset</h1>
<p>Lupa password anda? Masukkan alamat email di kolom bawah, dan kami akan mengirim pesan instruksi untuk mengatur ulang password Anda.</p>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        {{form.email.label_tag}}
        {{form.email}}
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Reset my password</button>
</form>
{% endblock reset_password %}
