{% extends "base.html" %}
{% load static %}
{% load humanize %}

{% block contents %}

{% if books %}
<div class="container">
    <p><a href="{% url 'produk:index' %}">Kembali</a></p>
    <div class="row">
        <div class="col">
            <img src="{% static 'produk/buku' %}/{{books.sampul_buku}}"
            alt="{{books.sampul_buku}}"
            style="width: 50%;">
            <div class="row pt-5">
                {% if books.is_discount %}
                    <span class="badge text-bg-danger" style="width: fit-content;">{{books.discount}}%</span>
                    <h3 class="pb-3">Rp. <del class="text-secondary">{{books.harga|intcomma}}</del> {{books.harga_diskon|intcomma}}</h3>
                {% else %}
                    <h3 class="pb-3">Rp. {{books.harga|intcomma}}</h3>
                {% endif %}
                <span>
                    <!-- Button trigger Bootstrap modal -->
                    <a type="button" href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Tambah Keranjang
                    </a>
                    <a href="#" class="btn btn-primary">Tambah Wishlist</a>
                    <!-- Button trigger Bootstrap modal -->
                    
                    <!-- Boostrap modal -->
                    {% include "snippets/modal.html" %}

                    <hr style="width: 70%;">
                    <h4>Informasi lain</h4>
                    <p>Berat: {{books.berat}} kg</p>
                    <p>Panjang: {{books.panjang}} cm</p>
                    <p>Lebar: {{books.lebar}} cm</p>
                    <p>ISBN {{books.isbn}}</p>
                </span>
            </div>
        </div>
        <div class="col" style="padding-left: 0; padding-right: auto;">
            <h1>{{books.judul_buku}}</h1>
            <p>Penulis: <a href="{% url 'writer_detail' books.penulis_id books.penulis.slug %}" style="text-decoration: none;">{{books.penulis}}</a></p>
            <p>Penerbit: <a href="{% url 'publisher_detail' books.penerbit_id books.penerbit.slug %}" style="text-decoration: none;">{{books.penerbit}}</a></p>
            <p>Tahun: {{books.tahun}}</p>
            <p class="text-align-justify">{{books.deskripsi | linebreaks}}</p>
        </div>
    </div>
</div>
{% elif stationery %}
<div class="container">
    <p><a href="{% url 'produk:index' %}">Kembali</a></p>
    <div class="row">
        <div class="col">
            <img src="{% static 'produk/stationery' %}/{{stationery.gambar_produk}}"
                alt="{{stationery.gambar_produk}}"
                style="width: 50%;">
            <div class="row pt-5">
                <h3 class="pb-3">Rp. {{stationery.harga|intcomma}}</h3>
                <span>
                    <!-- Button trigger Bootstrap modal -->
                    <a type="button" href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Tambah Keranjang
                    </a>
                    <a href="#" class="btn btn-primary">Tambah Wishlist</a>
                    <!-- Button trigger Bootstrap modal -->
                    
                    <!-- Boostrap modal -->
                    {% include "snippets/modal.html" %}
                </span>
            </div>
        </div>
        <div class="col" style="padding-left: 0; padding-right: auto;">
            <h1>{{stationery.nama_produk}}</h1>
            <p class="text-align-justify">{% lorem %}</p>
        </div>
    </div>
</div>
{% endif %}

{% endblock contents %}
