{% load static %}

<div
    class="jumbotron jumbotron-fluid"
    id="jumbotron"
    style="
        background-image: url(../../static/icon/main-header.jpg);
        background-position: center;
        background-size: cover;
        height: 600px;">
    <div
        class="container text-white text-center"
        style="padding-top: 200px;
            padding-bottom: auto;
            /* background-color: rgba(0, 0, 0, 0.4); */">
        <h1 class="display-4">Toko Buku Online</h1>
        <span class="lead">
            <q>Cuma perlu satu buku untuk jatuh cinta pada membaca.<br>Cari buku itu. Mari jatuh cinta.</q>
            <br><br>~ Najwa Shihab
        </span>
    </div>
</div>
