<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">OnlineBookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Beranda</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active" href="{% url 'produk:index' %}">Produk</a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'produk:index' %}" class="dropdown-item">Semua Produk</a></li>
                        <li><a href="{% url 'produk:filter' c='buku' %}" class="dropdown-item">Buku</a></li>
                        <li><a href="{% url 'produk:filter' c='stationery' %}" class="dropdown-item">Stationery</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Mitra Kami
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'penulis' 1 %}">Penulis</a></li>
                        <li><a class="dropdown-item" href="{% url 'penerbit' 1 %}">Penerbit</a></li>
                    </ul>
                </li>
            </ul>
            <!-- Kolom pencarian -->
            <form action="{% url 'search_result' %}" method="get" class="d-flex" role="search" style="padding-right: 50px;">
                <input name="q" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-dark" type="submit">Search</button>
            </form>
            <ul class="navbar-nav mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user.username}}
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{#{% url 'profile' username=user.username pk=user.pk %}#}">My Profile</a></li>
                        <li><a class="dropdown-item" href="#">Wishlist</a></li>
                        <li><a class="dropdown-item" href="#">Shop Cart</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{% url 'login' %}" class="nav-link active">Login</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
