{% load static %}
<nav class="navbar bg-primary navbar-expand-lg" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">OnlineBookStore</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Produk
                </a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="{% url 'produk:index' %}">Semua Produk</a></li>
                    <li><a class="dropdown-item" href="#">Buku</a></li>
                    <li><a class="dropdown-item" href="#">Stationery</a></li>
                </ul>
            </li>
        </ul>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-dark" type="submit">Search</button>
        </form>
        <!-- Tombol icon login user -->
        <ul class="navbar-nav">
            <a class="color-white" href="#">
                <img src="{% static 'icon/user.svg' %}" style="margin-left: 50px; margin-right: 20px;">
            </a>
        </ul>
        </div>
    </div>
</nav>