{% extends "base.html" %}
{% load static %}

{% block contents %}

<div class="container">
    <p><a href="{% url 'produk:index' %}">Kembali</a></p>
    <div class="row">
        <div class="col">
            <img src="{% static 'icon/profile-icon.jpg' %}" style="width: 60%;">
        </div>
        <div class="col" style="padding-left: 0; padding-right: auto;">
            <h1>{{data_penulis.nama}}</h1>
            <p class="text-align-justify">{{data_penulis.tentang_penulis | linebreaks}}</p>
        </div>
    </div>
</div>

{% endblock contents %}
