{% extends "base.html" %}
{% load static %}

{% block contents %}

{% if data_penulis %}
<!-- Template halaman detail penulis -->
<div class="container">
    <p><a href="{% url 'produk:index' %}">Kembali</a></p>
    <div class="row">
        <div class="col">
            {% if data_penulis.foto_profil %}
                <img src="{% static 'produk/penulis' %}/{{data_penulis.foto_profil}}" style="width: 60%;">
            {% else %}
                <img src="{% static 'icon/profile-icon.jpg' %}" style="width: 60%;">
            {% endif %}
        </div>
        <div class="col" style="padding-left: 0; padding-right: auto;">
            <h1>{{data_penulis.nama}}</h1>
            <p class="text-align-justify">{{data_penulis.tentang_penulis | linebreaks}}</p>
        </div>
    </div>
</div>
{% else %}
<!-- Template halaman detail penerbit -->
<div class="container">
    <p><a href="{% url 'produk:index' %}">Kembali</a></p>
    <div class="row">
        <div class="col">
            <img src="{% static 'produk/penerbit' %}/{{data_penerbit.logo_penerbit}}" style="width: 60%;">
        </div>
        <div class="col" style="padding-left: 0; padding-right: auto;">
            <h1>{{data_penerbit.penerbit}}</h1>
            <p class="text-align-justify">{{data_penerbit.tentang_penerbit | linebreaks}}</p>
        </div>
    </div>
    <!-- Daftar buku dari penerbit -->
    <hr>
    <h4 class="pb-3 pt-4">Buku terbitan {{data_penerbit.penerbit}}</h4>
    <div class="container">
        <div class="row row-cols-4">
            {% for book in related_book %}
            <div class="col pb-2">
                <div class="card" style="width: 15rem;">
                    <img
                        src="{% static 'produk/buku' %}/{{book.sampul_buku}}"
                        class="card-img-top"
                        alt="..."
                        style="width: 100%;">
                    <div class="card-body">
                        <h6 class="card-title">
                            <a href="{% url 'produk:detail' inputSlug=book.slug %}" class="text-decoration-none text-dark">{{book.judul_buku}}</a>
                        </h5>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}

{% endblock contents %}
