{% extends "base.html" %}
{% load static %}
{% load humanize %}


{% block jumbotron %}
{% include "snippets/jumbotron.html" %}
{% endblock jumbotron %}

{% block contents %}
<div class="container">
    <h1 class="pb-3">Buku pilihan</h1>
    <div class="row row-cols-4">
        {% for book in books %}
        <div class="col pb-2">
            <div class="card" style="width: 15rem;">
                <a href="{% url 'produk:detail' inputSlug=book.slug %}">
                    <img
                        src="{% static 'produk/buku' %}/{{book.sampul_buku}}"
                        class="card-img-top"
                        alt="..."
                        style="width: 100%;">
                </a>
                <div class="card-body">
                    <h6 class="card-title">
                        <a href="{% url 'produk:detail' inputSlug=book.slug %}" class="text-decoration-none text-dark">{{book.judul_buku}}</a>
                    </h5>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock contents %}
